/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* REUSABLE */

/* HEADER */

.nav-section {
  background-color: aqua;
  padding: 20px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  background-color: orange;
  padding: 10px 15px;
}

#header-nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

/* HERO SECTION */

.hero-section {
  background-color: blue;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.hero-content {
  width: 65%;
  height: 400px;
  background-color: pink;
}

/* FEATURE SECTION */

.feature-block {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-img {
  width: 40%;
  height: 400px;
  background-color: rgb(47, 188, 253);
}

.feature-content {
  width: 30%;
  height: 400px;
  background-color: pink;
}

.feature-block:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

.last-feature-content {
  height: 800px;
  width: 70%;
  background-color: green;
}
