/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* REUSABLE */

/* HEADER */

.nav-section {
  background-color: aqua;
  padding: 20px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  background-color: orange;
  padding: 10px 15px;
}

#header-nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

/* HERO SECTION */

.hero-section {
  background-color: blue;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 800px;
  height: 400px;
  background-color: pink;
}
